body {
  background-color: darksalmon;
}
.titulo {
  color: red;
}
.titulo:hover {
  color: blue;
}
p {
  column-count: 3;
  column-gap: 40px;
  column-rule: solid red 2px;
}

p:hover {
  color: red;
  background-color: blue;
}
